body{
  background-color:#0d3600;
  color:white;
  font-family:"Kurale", san-serif;
  padding: 0;
  margin:0;
}

h1,h2{
  color:white;
  text-align:center;
  font-family:'Georgia',sans-serif;
}

header{  
 <a href='https://postimg.cc/RWNy9MSW' target='_blank'><img src='https://i.postimg.cc/htrBLjN1/Chat-GPT-Image-11-2025-16-09-28.png' border='0' alt='Chat-GPT-Image-11-2025-16-09-28'/></a>
 padding:300px 40px;
}

header p{
text-align: center;  
}

main{
  padding:20px 10%
  max-width:900px;
  margin:0 auto;
}

nav{
  text-align: center;
}

nav a{
  color:yellow;
  text-decoration: none;
}

.scene-1{
  <a href='https://postimg.cc/HrcS7r1g' target='_blank'><img  src='https://i.postimg.cc/3x9zVGLd/Chat-GPT-Image-11-2025-14-27-30.png' border='0' alt='Chat-GPT-Image-11-2025-14-27-30'/></a>
min-height:100vh ;  

main img{
  weidth 400px
}
